<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html           xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >

<h:head>
</h:head>
<h:body>
	<h:form> 
	    <h3 style="margin-top:0">Permisos</h3>
	    <p:accordionPanel style="width:90%" >
	        <p:tab title="Roles">
	            <h:panelGrid columns="2" cellpadding="10"> 
	                <h:outputText
	                    value="The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
	                    His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
	                    Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, 
	                    but given to ruthless violence whenever anything stands against the good of the family." />
	            </h:panelGrid>
	        </p:tab>
	        <p:tab title="Privilegio">
	            <h:panelGrid columns="2" cellpadding="10"> 
	                <h:outputText value="Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. 
	                In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, 
	                killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows." />
	            </h:panelGrid>
	        </p:tab>
	        <p:tab title="Permisos">
	            <h:panelGrid columns="2" cellpadding="10"> 
	                <h:outputText value="After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. 
	                    Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate." />
	            </h:panelGrid>
	        </p:tab>
	        <p:tab title="Recursos Seguros">
	            <h:panelGrid columns="2" cellpadding="10"> 
	                <h:outputText value="After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. 
	                    Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate." />
	            </h:panelGrid>
	        </p:tab>
	    </p:accordionPanel>
	</h:form>
</h:body>
</html>